#submit:hover {
    background-color: lightskyblue;
}

td:hover {
    background-color: yellow;
}

body {
    background-image: url(../images/BarrancaTrainBridge.jpg);
}

.container {
    background-color: lightgreen;
}
